.logo :hover {
   transform: scale(1.5); }
 .container {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      grid-gap: 50px;
     }


      .card {
      background-color: #f8f9fa;
      margin-bottom: 50px;
      border: 1px solid #dee2e6;
      border-radius: 28px; 
      padding: 15px 0px 15px 15px;
      height: 200px;
      width: 400px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
     }.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 50px;
      column-gap: 50px;
    }

 .btn{

  top: 75%;
  width: 200px;
  border: 1px solid black;
  /* transform: translate(-50%, -50%); */
  background-color: #000000;
  color: white ;
  font-size: 25px;
  font-family: 'Belleza', sans-serif;
  font-family: 'Ephesis', cursive;
  font-family: 'Karla', sans-serif;
  padding: 12px 24px;
  background: black;
  cursor: pointer;
  border-radius: 16px;
  text-align: center;
  /* display: flex; */
  justify-content: left;
  justify-content:space-evenly;
  margin-top: 40px;
}

.btn:hover{
  background-color: white;
  color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content:space-evenly;
  font-family: 'Belleza', sans-serif;
  align-items: center;
  margin: 20px;
  margin-top: 60px;
}
.sell :hover {
 -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(0%);
  transition: all 0.5s ease;
  margin-bottom: 20px;

}
.donate:hover{ transform: scale(1.5);
  background-color: white;
            color:yellow;}

  .sell:hover{ transform: scale(1.5);
    background-color: white;
              color:#158000;


} 
.sell, .donate {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sell {
  background-color: green;
  color: white;
}

.donate {
  background-color: orange;
  color: white;
}
.logo-section.ult-new-ib img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}
.logo-section img:hover {
   transform: scale(1.5);
 -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: all 0.5s ease;
  margin-bottom: 20px;
  /* border-top: 1px solid black;  */
  border-bottom: 1px solid black; 

}
.fa-instagram{
  font-size: 50px;
  padding: 10px;
}
.fa-square-facebook{
font-size:  50px;
padding: 10px;
}
.fa-square-pinterest {
  font-size: 50px;
  padding: 10px;
}
.fa-square-twitter{
  font-size: 50px;
  padding: 10px;
}
.left {
    width: 45%;
    float: left;
    padding: 20px;
    font-style: Alata;
    }
 .right {
    width: 45%;
    float: right;
    padding: 20px;
  margin-top:40px;}
 .logo{

      justify-content: space-evenly;
      margin-top: 60px;
    }



.card1{
  background-color: whitesmoke;
  width:500px;
  height: 400px;
  border-radius: 25px;


}
.Brands{
  width: 80%;
  margin: 0 auto;
}
.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo-section img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

 .image1{
  padding: 0px;
 }
.image1 img{
border-radius: 25px;
 }

.majordiscount {
  display: flex;
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.majordiscount img {
  width: 100%;
  height: auto;
}



body{
    margin: 0;



    background-color:#e9e5dc;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-size: large;
    font-family: 'Karla', sans-serif;

}
p{
    margin: 0;
}

.menu{
    display: none;
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: 10px;
}

.header{
    margin-top: 0;
    height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.header1{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
}

.name{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 45px;
        margin-right: 2rem;

    }

.tagLine{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fav{
  margin-right: 1rem;
}
.nameAndRegion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchAndProfile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.signUp{
    display: flex;
    justify-content: space-between;
}

.Profile{
    margin-left: 1rem;
    display: flex;
}

.category{
    text-align: center;          
    font-size: large;
  font-family: League spartan ;
}

.categorysubheadings > p{
    padding: 1rem;
}

a > p{
  padding: 1rem;
}


.categoryHeading{
    padding: 8px;
}

.categorysubheadings{
    display: none;
    position: absolute;
}

.categoryHeading:hover .categorysubheadings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.postimg.cc/0NNmmNNP/A-cute-neutral-wallpaper-wallpaper-iphone-beige-neutral-minimalisticaesthetic-in-1.jpg");
}


.category:hover .categoryHeading{
    background-color: #ddd4d4b7;
}

.majorDiscount{
  /* position: relative; */
    height: 89vh;
    box-sizing: border-box;

}




.header2{
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categorysubheadings > p:hover{
    background-color: #b3abab93;

}

a > p:hover{
  background-color: #b3abab93;
}

.shub{
  background-color: black;
  width:auto;
  height: auto;
  display: flex;
}

.sub1{
    width: 50%;
    height: 40vh;
}

.heading{
      display: flex;
      height: 18vh;
      font-size: 4rem;
      width: 100%;
      font-weight: bolder;
      align-items: center;
      justify-content: center;
      font-family: league spartan ;
}

.NewArrivalsContent{
    padding: 4rem;
    display: flex;
    justify-content: space-between;

}
.contentBlock{
    text-align: center;
    height:50vh;
    width: 20%;
}

.contentImage{
    height: 40vh;
    width: 100%;
}

.contentData{
  font-family: League spartan;
    font-size: larger;
    padding: 1rem;
}

.sellerContainer{
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sellerBlock{

    width: 26%;
    text-align: center;
    margin-bottom: 2rem;
}

.sellerImage{
    height: 50vh;
}

.sellerImg{
    object-fit: cover;
    border-radius: 10px;
}

.naImg{
    object-fit: fill;
    border-radius: 60px;
}

.sellerData{
    padding: 1rem 1.5rem;
  font-family: league spartan ;
}

.allSellers{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
}

.allButton{
    font-size: 30px;
    font-weight: 600;
    padding: 1rem 6rem;
    border: 2px solid black;
    border-radius: 5%;

}

.allButton:hover {
    background-color: black;
    color: aliceblue;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;

}

.aboutData{
    width: 65%;
    font-size: xx-large;
  font-family:roboto;

}

.contactUs{
    padding: 1rem;
    font-size: 1rem;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#f3eeea;
    height: 15vh;
    padding: 4rem;
}

.joinUs{
  
    text-decoration: none;
    font-size: 30px;
    width: 300px;
    font-weight: 600;
    padding: 1rem 0rem 1rem  2rem;
    border: 2px solid black;
    border-radius: 5%;
    color: black;
}



a{
    color: inherit;
    text-decoration: none;
}
.joinUs:hover {
    background-color: black;
    color: aliceblue;
    text-decoration-line: none;
}

.footerData{
  padding-left: 1rem;
    font-size: xx-large    ;
}

.buttons :hover {
 -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(0%);
  transition: all 0.5s ease;
  margin-bottom: 20px;

}

@media screen and (max-height: 800px ) {
    .header {
        height: 18vh;
    }
}

@media screen and (max-width: 700px){

    body{
        font-size: medium;
    }

    .tagLine{
        display: none;
    }

    .searchAndProfile{
        display: none;
    }
    .NewArrivalsContent{
      flex-direction: column;

    }

    .contentBlock{
      width: auto;
    }

    .sellerName{
      font-size: xx-large;
    }

    .contentName{
      font-size: xx-large;
    }

    .aboutData{
      font-size: large;
    }

    .heading{
      font-size: 2rem;
      height: auto;
      padding: 4rem 0rem;
    }


    .sellerContainer{
      flex-direction: column;
    }

    .footer{
      height: auto;
      flex-direction: column;
    }

    .footerData{
      font-size: large;
      padding: 1rem;
    }

    .majorDiscount{
      height: auto;
    }

    .majorImg{
      object-fit: contain;
    }



    .sellerBlock{
      width: auto;
    }

    .menu{
        display: block;
    }
    .header{
        height: auto;
    }

    .header2{
        flex-wrap: wrap;
    }

}
body{
  background-color: white;
}
.card1{
  background-color: gray;
  width:455px;
  height: 250px;
  border-radius: 25px;
  margin-right:100px ;
}
.image1{
  
  padding: 0px;

}
.image1 img{
  border-radius: 25px;
}
.card2{
  background-color: gray;
  width:455px;
  height: 250px;
  border-radius: 25px;
}
.image2{
  padding: 0px;

}
.image2 img{
  border-radius: 25px;
}
.CARDS{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.card3{
  background-color: gray;
  width:455px;
  height: 250px;
  border-radius: 25px;
  margin-right: 100px;
}
.image3{
  padding: 0px;


}
.image3 img{
    border-radius: 25px;}

    .card4{
      background-color: gray;
      width:455px;
      height: 250px;
      border-radius: 25px;
    }
    .image4{
      padding: 0px;

    }
    .image4 img{
      border-radius: 25px;}

      .wrapper{
        display: flex;
        justify-content: center;
      }
